/target

# generated Python and Verilog Verilog
*.v
*.py
*.inst
!*_preamble.py
!tverilog/**/*.py
/tverilog/.pytest_cache/
/tverilog/**/__pycache__/
/tverilog/*.egg-info/
/tverilog/native/target/
/tverilog/native/Cargo.lock

# macOS
.DS_Store

# LaTeX documentation
/docs/*
!/docs/sections
!/docs/*.tex
!/docs/*.bib

# This Project
/private
